* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  --colorPrimary-1: #030a15;
  --colorPrimary-2: #6633cc;
  --colorSecond: #ffffff;
  --colorShadow: #b793ff;

  /*Font-family*/
  --font-1: "Poppins", sans-serif;
  --font-2: "Zen Loop", cursive;

  /*Font-size*/
  --h1-mobile: 2.4rem;
  --h2-mobile: 2rem;
  --h3-mobile: 1.6rem;
  --h4-mobile: 1.2rem;
  --h5-mobile: 1.4rem;
  --p-mobile: 1.6rem;
  --span-m: 5.4rem;

  /*Font-weight*/
  --wBold: bold;
  --wRegular: normal;
}

html {
  font-size: 62.5%;
}

body{
  background-color: var(--colorPrimary-1);
}

header{
    text-align: center;
    margin: 16px auto;
}
span {
    font-family: var(--font-2);
    font-size: var(--span-m);
    font-weight: var(--wBold);
    color: var(--colorPrimary-2);
}

main .me{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.me .photo{
  border-radius: 50%;
  box-shadow: 4px 4px 8px var(--colorPrimary-2);
}
.me h1{
  color: var(--colorPrimary-2);
  font-family: var(--font-1);
  font-size: var(--h1-mobile);
  font-weight: var(--wBold);
  margin: 8px auto;
}
.me div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.me .fa-location-dot{
  color: var(--colorPrimary-2);
  font-size: 2.4rem;
}
.me h5{
  color: var(--colorPrimary-2);
  font-family: var(--font-1);
  font-size: var(--h5-mobile);
  font-weight: var(--wRegular);
}
.me .flag{
  height: 32px;
}

.cards-contain{
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 16px 8px;
}
.cards-wrapper{
  display: flex;
  align-items: center;
  padding: 16px 0;
}
.card{
  background-color: var(--colorPrimary-2);
  scroll-snap-align: center;
  min-width: 235px;
  border-radius: 16px;
  height: 330px;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 4px 3px var(--colorShadow);
}
.card img{
  height: 70%;
  width: 100%;
  background-size: cover;
  background-position: center top;
}
.card h2{
  font-family: var(--font-1);
  font-size: var(--h2-mobile);
}
.icons-card{
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}
.icons-card img{
  height: 32px;
}
.card i{
  font-size: 3.2rem;
}
.img1{
  background-image: url(/assets/imgs/appRecipes.jpeg);
  border-radius: 16px 16px 0 0;
}
.img2{
  background-image: url(/assets/imgs/corazonverde.png);
  border-radius: 16px 16px 0 0;
}
.img3{
  background-image: url(/assets/imgs/landingPage-eduSoft.jpg);
  border-radius: 16px 16px 0 0;
}
.img4{
  background-image: url(/assets/imgs/weatherApp.jpg);
  border-radius: 16px 16px 0 0;
}

.aboutme h2{
  color: var(--colorPrimary-2);
  text-align: center;
  font-family: var(--font-1);
  font-size: var(--h2-mobile);
}
.aboutme p{
  color: var(--colorPrimary-2);
  font-family: var(--font-1);
  font-size: var(--p-mobile);
  margin: 8px 16px;
}

.techs h2{
  text-align: center;
  margin: 16px auto;
  color: var(--colorPrimary-2);
  font-family: var(--font-1);
  font-size: var(--h2-mobile);
}
.techs div{
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 16px 16px;
  gap: 16px;
}

.laboral h2{
  color: var(--colorPrimary-2);
  font-size: var(--h2-mobile);
  font-family: var(--font-1);
  text-align: center;
  margin: 16px auto;
}
.laboral-contain{
display: flex;
margin: 8px 16px;
}
.year-contain{
  flex-direction: column;
}
.position{
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.6s ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  margin-bottom: 56px;
  padding: 1rem;
  border-radius: 1rem;
}
.position:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);
}
.circle{
  background-color: var(--colorSecond);
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.position p{
  color: var(--colorPrimary-2);
  font-size: var(--p-mobile);
  font-family: var(--font-1);
  text-align: right;
}
.position h4{
  color: var(--colorPrimary-2);
  font-size: var(--h4-mobile);
  font-family: var(--font-1);
  text-align: right;
}
.timeline{
  position: absolute;
  left: 50%;
  top: 1445px;
  bottom: -1275px;
  background-color: var(--colorPrimary-2);
  width: 4px;
  display: ;
}
.timeline::before,
.timeline::after{
  position: absolute;
  display: block;
  content: '';
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--colorSecond);
  left: 50%;
  transform: translateX(-50%);
}
.timeline::after{
  bottom: 0;
}