* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  --colorPrimary-1: #030a15;
  --colorPrimary-2: #6633cc;
  --colorSecond: #ffffff;
  --colorShadow: #b793ff;

  /*Font-family*/
  --font-1: "Poppins", sans-serif;
  --font-2: "Zen Loop", cursive;

  /*Font-size*/
  --h1-mobile: 2.4rem;
  --h2-mobile: 2rem;
  --h3-mobile: 1.6rem;
  --h4-mobile: 1.2rem;
  --h5-mobile: 1.4rem;
  --p-mobile: 1.6rem;
  --span-m: 5.4rem;

  /*Font-weight*/
  --wBold: bold;
  --wRegular: normal;
}

html {
  font-size: 62.5%;
}

body{
  background-color: var(--colorPrimary-1);
}

header{
    text-align: center;
    margin: 16px auto;
}
span {
    font-family: var(--font-2);
    font-size: var(--span-m);
    font-weight: var(--wBold);
    color: var(--colorPrimary-2);
}

main .me{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.me .photo{
  border-radius: 50%;
  box-shadow: 0px 0px 40px var(--colorPrimary-2);
  margin: 16px auto;
}
.me h1{
  color: var(--colorPrimary-2);
  font-family: var(--font-1);
  font-size: var(--h1-mobile);
  font-weight: var(--wBold);
  margin: 8px auto;
}
.me div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.me .fa-location-dot{
  color: var(--colorPrimary-2);
  font-size: 2.4rem;
}
.me h5{
  color: var(--colorPrimary-2);
  font-family: var(--font-1);
  font-size: var(--h5-mobile);
  font-weight: var(--wRegular);
}
.me .flag{
  height: 32px;
}

.cards-contain{
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 16px 8px;
}
.cards-wrapper{
  display: flex;
  align-items: center;
  padding: 16px 0;
}
.card{
  background-color: var(--colorPrimary-2);
  scroll-snap-align: center;
  min-width: 235px;
  border-radius: 16px;
  height: 330px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card img{
  height: 70%;
  width: 100%;
  background-size: cover;
  background-position: center top;
}
.card h2{
  font-family: var(--font-1);
  font-size: var(--h2-mobile);
}
.icons-card{
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}
.icons-card img{
  height: 32px;
}
.card i{
  font-size: 3.2rem;
}
.img1{
  background-image: url(/assets/imgs/appRecipes.jpeg);
  border-radius: 16px 16px 0 0;
}
.img2{
  background-image: url(/assets/imgs/corazonverde.png);
  border-radius: 16px 16px 0 0;
}
.img3{
  background-image: url(/assets/imgs/landingPage-eduSoft.jpg);
  border-radius: 16px 16px 0 0;
}
.img4{
  background-image: url(/assets/imgs/weatherApp.jpg);
  border-radius: 16px 16px 0 0;
}

.aboutme{
  padding-top: 16px;
}
.aboutme h2{
  color: var(--colorPrimary-2);
  text-align: center;
  font-family: var(--font-1);
  font-size: var(--h2-mobile);
  margin: 8px auto;
}
.aboutme p{
  color: var(--colorPrimary-2);
  font-family: var(--font-1);
  font-size: var(--p-mobile);
  margin: 16px 8px;
}

.techs{
  padding-top: 16px;
  padding-bottom: 40px;
}
.techs h2{
  text-align: center;
  margin: 24px auto;
  color: var(--colorPrimary-2);
  font-family: var(--font-1);
  font-size: var(--h2-mobile);
}
.techs div{
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 8px 8px;
  gap: 32px;
}


.title-laboral h2{
  color: var(--colorPrimary-2);
  font-family: var(--font-1);
  font-size: var(--h2-mobile);
  text-align: center;
}
.laboral-timeline{
  position: relative;
  min-height: 450px;
}
.line-laboral{
  background-color: var(--colorPrimary-2);
  position: absolute;
  z-index: 1;
  left: 50%;
  width: 4px;
  top: 30px;
  bottom: -95px;
}
.line-laboral::before,
.line-laboral::after{
  background-color: var(--colorSecond);
  position: absolute;
  display: block;
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.line-laboral::after{
  bottom: 0;
}
.section-laboral{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 1s ease;
  position: relative;
  z-index: 2;
  margin: 5px 0;
  padding: 5px;
  border-radius: 8px;
  align-items: center;
  min-height: 100px;
}
.section-laboral:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);
}
.circle-laboral{
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--colorSecond);
  left: 50.3%;
  top: 30%;
  transform: translateX(-50%);
}
.content-laboral{
  margin: auto 5% auto 12%;
  /*
  margin-right: 33%;
  margin-left: 35%;
  */
}
.show-me:nth-child(n){
  transform: none;
  opacity: 1;
}
.content-laboral p{
  color: var(--colorPrimary-2);
  font-size: var(--p-mobile);
  font-family: var(--font-1);
}
.content-laboral h4{
  color: var(--colorPrimary-2);
  font-size: var(--h4-mobile);
  font-family: var(--font-1);
}
.content-laboral h3{
  color: var(--colorPrimary-2);
  font-size: var(--h3-mobile);
  font-family: var(--font-1);
}